langchain==0.3.21
langchain-openai==0.3.11
langchain-community==0.3.20
python-dotenv==1.0.1
httpx==0.27.2
questionary==2.1.0
black==25.1.0
ruff==0.11.2
langgraph==0.4.8
pandas==2.2.3
sentence-transformers==4.1.0
torch==2.7.1
scikit-learn==1.6.1
matplotlib==3.10.3
gradio==5.38.0
certifi==2025.6.15
faster-whisper==1.1.1
soundfile==0.13.1
torchaudio==2.7.1
microdot==2.3.2
